[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metafrontier"]
	path = metafrontier
	url = https://github.com/iik1/metafrontier
